@import url(../libs/lightslider/dist/css/lightslider.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  color: #000; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0;
    text-decoration: none; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.wrapper {
  margin: 0 auto;
  background-image: url("../img/bg.png"); }

header {
  background-image: url("../img/bg-head.jpg");
  background-position: center;
  background-size: cover;
  padding: 113px 0 108px 0; }
  header h1 {
    font-size: 30px;
    line-height: 42px;
    color: #5eae2d;
    font-family: Roboto-Bold;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    margin: 0; }
  header h2 {
    padding-top: 54px;
    font-size: 25px;
    font-family: RobotoRegular;
    text-transform: none;
    color: #000;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px; }
  header p {
    font-size: 20px;
    padding-top: 15px;
    letter-spacing: -0.1px;
    line-height: 23px;
    color: #000; }
  @media only screen and (max-width: 960px) {
    header {
      background-position: center right; } }
  @media only screen and (max-width: 695px) {
    header h1 {
      font-size: 4vw; }
    header h2 {
      font-size: 3.5vw; }
    header p {
      font-size: 3vw; } }
  @media only screen and (max-width: 550px) {
    header {
      text-align: center; }
      header h1 {
        line-height: 30px; } }
  @media only screen and (max-width: 450px) {
    header br {
      display: none; }
    header h1 {
      font-size: 4.1vw; }
    header h2 {
      font-size: 3.9vw; }
    header p {
      font-size: 3.7vw; } }
  @media only screen and (max-width: 350px) {
    header br {
      display: none; }
    header h1 {
      font-size: 5.6vw; }
    header h2 {
      font-size: 4.9vw;
      text-align: center; }
    header p {
      font-size: 3.7vw; } }

h2 {
  line-height: 25px;
  font-size: 25px;
  color: #42af00;
  font-family: Roboto-Bold;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    h2 {
      font-size: 22px;
      line-height: 23px; }
      h2 br {
        display: none; } }

.inner {
  max-width: 915px;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    .inner {
      padding: 0 15px; } }

.title-green {
  background-color: #5eae2d;
  position: relative;
  display: inline-block;
  top: -42px;
  z-index: 69; }
  .title-green h2 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding: 13px 48px;
    text-transform: uppercase; }
  @media only screen and (max-width: 500px) {
    .title-green h2 {
      padding: 13px 20px; } }

.text-misapprehension {
  padding-top: 45px;
  margin-right: -60px; }
  @media only screen and (max-width: 991px) {
    .text-misapprehension {
      margin-right: 0; }
      .text-misapprehension h2 {
        margin-left: 0; } }
  .text-misapprehension *:nth-child(4) {
    padding-top: 19px; }
  .text-misapprehension *:nth-child(5) {
    padding-top: 19px;
    line-height: 23px; }
  .text-misapprehension *:nth-child(6) {
    padding-top: 23px;
    line-height: 23px; }
  .text-misapprehension *:nth-child(7) {
    padding-top: 20px;
    line-height: 23px; }
  .text-misapprehension h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.1px;
    margin-left: -76px; }
  .text-misapprehension p {
    padding-top: 39px;
    letter-spacing: -0.1px; }
  .text-misapprehension h3 {
    font-size: 20px;
    line-height: 24px;
    color: #42af00;
    text-align: center;
    position: relative; }
  .text-misapprehension i {
    padding-top: 22px;
    font-size: 16px;
    color: #42af00;
    font-family: Roboto-Bold;
    display: block; }

.bad-heal {
  margin-top: 17px; }
  .bad-heal h2 {
    text-align: center;
    text-transform: uppercase; }

.img-bad-heal {
  float: left;
  width: 20.6%; }
  .img-bad-heal img {
    width: 100%; }

.text-bad-heal {
  float: left;
  width: 79.4%;
  padding-left: 19px; }
  .text-bad-heal tt {
    font-family: Roboto-Bold;
    padding-top: 17px;
    display: block; }
  .text-bad-heal i {
    padding-top: 5px;
    display: block; }
  .text-bad-heal p {
    line-height: 12px; }
  .text-bad-heal li {
    position: relative;
    padding-left: 27px;
    font-size: 16px;
    line-height: 25px; }
    .text-bad-heal li:after {
      position: absolute;
      left: 0;
      top: 8px;
      content: '';
      background-color: #5eae2d;
      width: 9px;
      height: 9px;
      -webkit-border-radius: 120px;
      border-radius: 120px; }
  @media only screen and (max-width: 991px) {
    .text-bad-heal br {
      display: none; } }

.item-bad-heal {
  padding-top: 49px; }
  .item-bad-heal span {
    margin-top: 11px;
    display: inline-block;
    line-height: 23px;
    letter-spacing: -0.1px; }
  .item-bad-heal:nth-child(3) .text-bad-heal tt {
    padding-top: 0; }
  .item-bad-heal:nth-child(3) {
    padding-top: 45px; }
  .item-bad-heal:nth-child(4) {
    padding-top: 58px; }
    .item-bad-heal:nth-child(4) .text-bad-heal p {
      line-height: 23px; }
  @media only screen and (max-width: 991px) {
    .item-bad-heal {
      padding-left: 0; } }

.ots-bad {
  padding-top: 10px; }

.avoid {
  background-image: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  min-height: 291px;
  margin-top: 90px; }
  @media only screen and (max-width: 991px) {
    .avoid {
      text-align: center; }
      .avoid p {
        text-align: center; }
      .avoid br {
        display: none; } }

.avoid-a {
  background-color: #ffc500;
  text-align: center;
  position: relative;
  max-width: 722px;
  margin: 0 auto;
  bottom: -220px;
  padding: 38px 65px 34px 65px; }
  .avoid-a h3 {
    font-family: Roboto-Bold;
    text-transform: uppercase; }
  .avoid-a p {
    text-align: left;
    line-height: 22px;
    padding-top: 5px; }
  @media only screen and (max-width: 500px) {
    .avoid-a {
      padding: 38px 15px 34px 15px; } }

.secret {
  margin-top: 220px; }
  .secret h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px; }
  .secret span {
    color: #42af00; }
  .secret p {
    padding-bottom: 10px;
    line-height: 23px; }
  @media only screen and (max-width: 991px) {
    .secret {
      font-size: inherit; } }
  @media only screen and (max-width: 500px) {
    .secret {
      margin-top: 250px; } }

.text-for-s {
  padding-top: 47px; }
  .text-for-s span {
    color: #42af00; }
  .text-for-s a {
    border: 1px solid #000;
    width: 15px;
    height: 13px;
    text-align: right;
    line-height: 10px;
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-left: -3px; }
    .text-for-s a:hover {
      text-decoration: none; }

.author {
  margin-top: 60px; }
  .author h2 {
    text-align: center; }
  .author h3 {
    font-size: 20px;
    font-family: Roboto-Bold;
    line-height: 27px; }
  @media only screen and (max-width: 850px) {
    .author br {
      display: none; } }

.item-auto {
  margin-top: 50px;
  margin-bottom: 30px; }

.sircle-green span {
  font-family: Roboto-Bold;
  font-size: 20px; }

.sircle-green li {
  padding-left: 32px;
  position: relative;
  margin-bottom: 5px; }
  .sircle-green li:after {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    background-color: #5eae2d;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 120px;
    border-radius: 120px; }

@media only screen and (max-width: 991px) {
  .sircle-green {
    text-align: left; } }

.foto-author {
  float: left;
  width: 35.5%; }
  @media only screen and (max-width: 991px) {
    .foto-author {
      width: 100%;
      float: none;
      text-align: center; } }
  @media only screen and (max-width: 420px) {
    .foto-author img {
      width: 100%; } }

.info-author {
  padding-left: 51px;
  float: left;
  width: 64.5%; }
  .info-author p {
    padding-top: 7px;
    padding-bottom: 16px;
    line-height: 23px; }
  .info-author span {
    font-family: Roboto-Bold;
    font-size: 20px; }
  .info-author tt {
    font-size: 20px;
    display: block; }
  .info-author li {
    line-height: 21px; }
  @media only screen and (max-width: 991px) {
    .info-author {
      width: 100%;
      float: none;
      text-align: center;
      padding-left: 0;
      padding-top: 15px; } }

.info-author-two {
  padding-left: 51px;
  float: left;
  width: 64.5%; }
  .info-author-two p {
    padding-top: 0px;
    margin-top: -4px;
    padding-bottom: 12px;
    line-height: 22.9px;
    margin-right: 0; }
  .info-author-two .sircle-green {
    margin-right: -25px; }
  .info-author-two span {
    font-family: Roboto-Bold;
    font-size: 20px; }
  .info-author-two tt {
    font-size: 20px;
    display: block; }
  .info-author-two li {
    line-height: 21px; }
  @media only screen and (max-width: 991px) {
    .info-author-two {
      width: 100%;
      float: none;
      text-align: center;
      padding-left: 0;
      padding-top: 15px; }
      .info-author-two .sircle-green {
        margin-right: 0px; }
      .info-author-two p {
        margin-right: 0; } }

.author-two {
  margin-top: 81px; }
  .author-two .item-auto {
    margin-bottom: 19px; }
  .author-two p {
    margin-right: -25px;
    letter-spacing: -0.1px;
    line-height: 23px; }
  @media only screen and (max-width: 991px) {
    .author-two {
      margin-right: 0; } }

.education-autor {
  margin-top: 25px; }
  .education-autor h3 {
    font-size: 23px; }
  .education-autor p {
    padding-top: 5px; }
  .education-autor ul {
    margin-top: 20px; }

.arrow-box {
  width: 33px;
  height: 33px;
  background-image: url("../img/arrow.png");
  background-position: center;
  background-color: #5eae2d;
  background-repeat: no-repeat;
  margin-top: 8px; }

.aut-s {
  margin-top: 10px; }
  .aut-s .sircle-green li {
    line-height: 18px; }
  .aut-s p {
    padding-top: 5px; }
  .aut-s span {
    font-family: Roboto-Bold; }

.sertifi {
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  background-position: center;
  padding: 55px 0;
  margin-top: 69px; }

.slider-ser {
  max-width: 722px;
  margin: 0px auto;
  position: relative; }

.items-fotot-s .item-slide {
  float: left;
  max-width: 346px;
  margin: 0 15px; }
  .items-fotot-s .item-slide:first-child {
    margin-left: 0; }
  .items-fotot-s .item-slide:last-child {
    margin-right: 0; }
  .items-fotot-s .item-slide img {
    width: 100%;
    min-height: 235px; }
  @media only screen and (max-width: 1110px) {
    .items-fotot-s .item-slide {
      float: none;
      margin: 0 auto;
      max-width: 500px; }
      .items-fotot-s .item-slide:first-child {
        float: none;
        margin: 0 auto; }
      .items-fotot-s .item-slide:last-child {
        float: none;
        margin: 0 auto; } }

.slider-arrows {
  position: relative;
  z-index: 69; }
  .slider-arrows a {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 41px;
    height: 72px; }

.left-arrow {
  left: -93px;
  padding-top: 86px;
  position: absolute; }
  @media only screen and (max-width: 1110px) {
    .left-arrow {
      left: 0;
      padding-top: 19%; } }
  .left-arrow a {
    background-image: url("../img/arrow-left.png"); }

.right-arrow {
  padding-top: 86px;
  right: -93px;
  position: absolute; }
  @media only screen and (max-width: 1110px) {
    .right-arrow {
      right: 0;
      padding-top: 19%; } }
  .right-arrow a {
    background-image: url("../img/arrow-right.png"); }

.patent {
  padding-top: 49px;
  text-align: center; }
  .patent h3 {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-family: Roboto-Bold; }
  .patent ul {
    text-align: center;
    padding-top: 48px; }
  .patent li {
    margin: 0 36px;
    display: inline-block; }
    .patent li:first-child {
      margin-left: 0; }
    .patent li:last-child {
      margin-right: 0; }
    .patent li a {
      display: block;
      position: relative; }
      .patent li a:hover:after {
        position: absolute;
        background-image: url("../img/loop.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 69;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
  @media only screen and (max-width: 991px) {
    .patent {
      margin: 0 30px; } }
  @media only screen and (max-width: 916px) {
    .patent li {
      margin: 25px !important; } }

.medal {
  text-align: center;
  margin: 98px auto 90px auto;
  max-width: 910px; }
  .medal h2 {
    padding-bottom: 39px; }
  .medal .slider-ser {
    padding: 21px 0 0 0; }
    .medal .slider-ser .slider-arrows .left-arrow {
      padding-top: 70px; }
    .medal .slider-ser .slider-arrows .right-arrow {
      padding-top: 70px; }
    .medal .slider-ser .item-slide img {
      min-height: 213px; }
  .medal h3 {
    text-align: right;
    font-family: Roboto-Bold;
    padding-top: 23px; }
  @media only screen and (max-width: 916px) {
    .medal {
      padding: 0 15px; } }

.t-left {
  text-align: left;
  line-height: 23px;
  padding-top: 27px; }
  @media only screen and (max-width: 850px) {
    .t-left {
      padding: 0 15px; } }

.al-bo {
  padding-top: 50px; }

.book h2 {
  text-align: center; }

.book p {
  padding-bottom: 20px;
  line-height: 23px; }

.book-img {
  float: left;
  width: 16.21%; }
  @media only screen and (max-width: 850px) {
    .book-img {
      width: 100%;
      float: none;
      text-align: center; } }

.text-for-book {
  float: left;
  padding-left: 41px;
  width: 83.79%;
  margin-top: -5px; }
  .text-for-book b {
    font-family: Roboto-Bold; }
  .text-for-book span {
    color: #42af00;
    font-family: Roboto-Bold; }
  @media only screen and (max-width: 850px) {
    .text-for-book {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 15px;
      padding-left: 0; } }

.avoid-two {
  background-image: url("../img/bg-3.jpg");
  text-align: center;
  margin-top: 62px;
  min-height: 361px; }
  .avoid-two h3 {
    text-transform: uppercase;
    padding-top: 149px;
    color: #fff;
    line-height: 32px;
    font-size: 25px;
    font-family: Roboto-Bold; }
  .avoid-two .avoid-a {
    max-width: 536px;
    bottom: -89px;
    padding: 21px 60px 20px 60px; }
    .avoid-two .avoid-a p {
      text-align: center;
      text-transform: uppercase; }
    @media only screen and (max-width: 500px) {
      .avoid-two .avoid-a {
        padding: 21px 10px 20px 10px; } }
  @media only screen and (max-width: 500px) {
    .avoid-two h3 {
      font-size: 19px;
      line-height: 22px; } }

.slider-pol {
  margin-top: 103px; }
  .slider-pol .left-arrow {
    padding-top: 63px; }
    .slider-pol .left-arrow a {
      background-image: url("../img/arrow-left-g.png"); }
  .slider-pol .right-arrow {
    padding-top: 63px; }
    .slider-pol .right-arrow a {
      background-image: url("../img/arrow-right-g.png"); }

.items-fotot-s .item-slide img {
  min-height: 210px; }

.press {
  padding-top: 32px;
  text-align: center; }
  .press .items-fotot-s {
    margin: 0 auto;
    max-width: 722px;
    padding-top: 30px; }
    .press .items-fotot-s p {
      padding-top: 2px;
      line-height: 23px; }
    .press .items-fotot-s b {
      font-family: Roboto-Bold; }

.press-green {
  text-align: left;
  max-width: 722px;
  margin: 40px auto; }
  .press-green h3 {
    font-family: Roboto-Bold;
    font-size: 20px;
    line-height: 20px; }
  .press-green span {
    color: #42af00; }
  .press-green .sircle-green {
    margin-top: 10px; }
    .press-green .sircle-green li {
      padding-left: 18px;
      margin-bottom: 0; }

.practic {
  padding-top: 15px; }
  .practic h2 {
    text-align: center; }
  .practic .avoid {
    margin-top: 49px;
    background-image: url("../img/bg-4.jpg");
    min-height: 380px; }
    .practic .avoid p {
      text-align: left;
      max-width: 910px;
      margin: 0 auto;
      padding-top: 127px;
      color: #fff;
      font-size: 25px;
      line-height: 29px;
      text-transform: uppercase;
      letter-spacing: 0.3px; }
    .practic .avoid .avoid-a p {
      color: #000;
      font-size: 16px;
      padding-top: 5px;
      max-width: inherit;
      line-height: 19px;
      letter-spacing: -0.1px; }
  .practic .avoid-two .avoid-a {
    padding: 28px 0px 34px 20px;
    bottom: -69px; }
  @media only screen and (max-width: 991px) {
    .practic {
      text-align: center; }
      .practic p {
        text-align: center; }
      .practic .avoid p {
        text-align: center; }
      .practic .avoid-two .avoid-a {
        padding: 21px 10px 20px 10px; } }
  @media only screen and (max-width: 500px) {
    .practic .avoid p {
      font-size: 19px; }
    .practic .avoid-two p {
      font-size: 19px; }
    .practic .avoid-two h3 {
      font-size: 19px;
      line-height: 22px; } }

.video-course {
  text-align: center;
  margin-top: 125px; }
  .video-course b {
    font-family: Roboto-Bold;
    font-size: 20px;
    padding-top: 18px;
    display: block; }

.video-c {
  max-width: 783px;
  margin: 40px auto 20px auto; }
  .video-c img {
    width: 100%; }

.video-green {
  margin-top: 35px; }
  .video-green h2 {
    font-size: 16px; }
  .video-green .sircle-green {
    margin-top: 10px; }
  .video-green li {
    text-align: left;
    margin-bottom: 10px; }

.left-icon {
  float: left;
  width: 6.9%; }
  .left-icon img {
    width: 100%; }

.right-ab {
  float: left;
  width: 93.1%;
  padding-left: 30px; }
  .right-ab b {
    font-size: 20px;
    line-height: 20px; }

.about-video {
  margin-top: 60px;
  padding-bottom: 35px; }
  .about-video h2 {
    line-height: 28px; }
  .about-video ul {
    margin-top: 49px; }
  .about-video li {
    margin-top: 34px;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.new {
  padding-top: 21px; }
  .new h2 {
    font-size: 20px; }
  .new ul {
    padding-top: 60px; }
  .new p {
    padding-top: 15px; }
    .new p:nth-child(3) {
      padding-top: 7px; }
    .new p:nth-child(4) {
      padding-top: 3px; }
  .new li {
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px; }
    .new li p {
      padding-top: 0;
      line-height: 23px; }

.wrapper-two {
  margin: 0 auto; }

.for-whom {
  background-image: url("../img/bg-5.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  margin-top: 91px; }
  .for-whom .inner {
    padding: 48px 0 25px 0; }
  .for-whom h3 {
    padding-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: Roboto-Bold; }
  .for-whom li {
    padding-left: 24px;
    margin-top: 11px;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 21px; }
    .for-whom li p {
      position: relative; }
      .for-whom li p:after {
        position: absolute;
        left: -28px;
        top: 7px;
        content: '';
        background-image: url("../img/c-or.png");
        background-repeat: no-repeat;
        width: 9px;
        height: 9px; }
    .for-whom li .second-wh {
      padding-left: 12px; }
      .for-whom li .second-wh li {
        margin-top: 0px;
        margin-bottom: 2.4px; }
      .for-whom li .second-wh span {
        display: block;
        padding-left: 0px; }
  @media only screen and (max-width: 991px) {
    .for-whom .inner {
      padding: 50px 15px; } }

.disk {
  padding-top: 60px; }

.video-course-two {
  margin-top: 100px; }

.title-list {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 35px; }
  .title-list ul {
    padding-left: 96px; }
  .title-list li {
    text-align: left;
    float: left;
    width: 405px;
    line-height: 23px;
    letter-spacing: 1px; }
    .title-list li span {
      color: #5eae2d; }
    .title-list li:first-child {
      float: none;
      display: block; }
  @media only screen and (max-width: 700px) {
    .title-list ul {
      padding-left: 0; }
      .title-list ul li {
        width: auto; } }

.list-videos {
  padding-bottom: 25px;
  margin-top: 45px; }
  .list-videos ul {
    position: relative;
    top: -30px; }
  .list-videos a {
    background-color: #5eae2d;
    display: block;
    height: 69px;
    padding-left: 32px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    position: relative; }
    .list-videos a:hover {
      text-decoration: none; }
    .list-videos a:after {
      position: absolute;
      right: 64px;
      top: 25px;
      content: '';
      background-image: url("../img/arrow-video-down.png");
      background-repeat: no-repeat;
      width: 42px;
      height: 24px; }
    .list-videos a h3 {
      padding-top: 13px;
      font-family: Roboto-Bold; }
  .list-videos li {
    margin: 43px 0 0 0;
    -webkit-transition: 1s all;
    transition: 1s all; }
  .list-videos .active .second-videos-l {
    display: block; }
  .list-videos .active a:after {
    background-image: url("../img/arrow-video.png"); }
  @media only screen and (max-width: 630px) {
    .list-videos a {
      padding: 5px 35px;
      height: auto; }
      .list-videos a:after {
        right: 5px;
        top: 10px; }
      .list-videos a h3 {
        padding-top: 0; } }

.second-videos-l {
  display: none;
  top: auto !important; }
  .second-videos-l img {
    width: 100%;
    height: 495px; }
  @media only screen and (max-width: 991px) {
    .second-videos-l img {
      height: auto; } }
  .second-videos-l span {
    font-family: Roboto-Bold; }
  .second-videos-l b {
    font-family: Roboto-Bold;
    font-size: 18px;
    line-height: 18px;
    padding-top: 38px;
    text-align: center;
    display: block; }
  .second-videos-l .sircle-green {
    top: auto; }
    .second-videos-l .sircle-green li {
      margin: 11px 0; }

.disk-2 {
  padding-top: 27px; }
  .disk-2 .title-list li {
    float: none;
    width: inherit; }

.for-pr {
  background-image: url("../img/bg-6.jpg");
  margin-top: -19px;
  padding-bottom: 53px; }

.title-orange {
  position: relative;
  top: -30px;
  background-color: #ffc500;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Roboto-Bold;
  line-height: 20px;
  color: #000;
  padding: 23.5px 30px;
  display: inline-block; }

.why-chose {
  text-align: center;
  padding-bottom: 35px; }
  .why-chose .sircle-green {
    margin-top: 15px;
    text-align: left; }
    .why-chose .sircle-green li {
      line-height: 18px;
      margin-bottom: 23px;
      padding-left: 20px; }

.img-arrows {
  display: block; }

.reviews {
  background-image: url("../img/bg-7.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 35px 0 56px 0; }
  .reviews .slider-ser {
    margin: 43px auto 25px auto; }
    @media only screen and (max-width: 1110px) {
      .reviews .slider-ser .left-arrow {
        padding-top: 160px;
        left: -50px; }
      .reviews .slider-ser .right-arrow {
        padding-top: 160px;
        right: -50px; } }
    @media only screen and (max-width: 870px) {
      .reviews .slider-ser {
        max-width: 600px; } }
    @media only screen and (max-width: 720px) {
      .reviews .slider-ser {
        max-width: inherit;
        padding: 0 50px; } }
  .reviews .left-arrow {
    padding-top: 160px; }
  .reviews .right-arrow {
    padding-top: 160px; }
  .reviews .slider-ser-max {
    max-width: 910px; }
    .reviews .slider-ser-max .left-arrow {
      padding-top: 80px; }
      @media only screen and (max-width: 1110px) {
        .reviews .slider-ser-max .left-arrow {
          left: 0; } }
    .reviews .slider-ser-max .right-arrow {
      padding-top: 80px; }
      @media only screen and (max-width: 1110px) {
        .reviews .slider-ser-max .right-arrow {
          right: 0; } }
    @media only screen and (max-width: 590px) {
      .reviews .slider-ser-max .left-arrow {
        left: -20px; }
      .reviews .slider-ser-max .right-arrow {
        right: -20px; } }
  .reviews .items-fotot-s .item-slide {
    max-width: 431px; }
    @media only screen and (max-width: 1110px) {
      .reviews .items-fotot-s .item-slide {
        float: none;
        margin: 0 auto; } }
    @media only screen and (max-width: 590px) {
      .reviews .items-fotot-s .item-slide {
        max-width: inherit;
        padding: 0 50px; } }
    @media only screen and (max-width: 720px) {
      .reviews .items-fotot-s .item-slide {
        padding: 0 20px; } }

.title-slide-reviews {
  background-color: #ffc500;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  padding: 20px 30px; }

.title-slide-reviews-s {
  padding: 0 21px;
  margin-top: 0px; }

.img-mind {
  display: block;
  margin: 25px 0; }

.buy {
  text-align: center;
  padding-bottom: 50px; }
  .buy .title-orange {
    padding: 14px 57px;
    top: -17px; }
  .buy h2 {
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
    padding-top: 26px; }
  .buy .sircle-green {
    margin-top: 15px;
    text-align: left; }
    .buy .sircle-green li {
      margin-bottom: 2px; }

.pre-buy {
  font-size: 16px;
  padding-top: 33px;
  line-height: 22px; }
  .pre-buy b {
    font-family: Roboto-Bold;
    font-size: 20px; }
  .pre-buy span {
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #42af00; }

.no {
  text-align: center;
  padding-bottom: 114px; }
  .no .title-orange {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 25px;
    font-family: RobotoRegular;
    top: -14px; }
  .no li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 450px; }
    @media only screen and (max-width: 991px) {
      .no li {
        margin: 10px; } }
    .no li .second-no {
      margin-top: 49px; }
      .no li .second-no li {
        text-align: left;
        margin: 0;
        display: block;
        min-height: 131px;
        padding-bottom: 25px; }
        .no li .second-no li p {
          font-size: 16px;
          line-height: 21px; }
  .no .sircle-green {
    text-align: left;
    margin-top: -6px; }
    .no .sircle-green li {
      text-align: left;
      display: block;
      margin: 14px 0 0 0;
      max-width: inherit;
      padding-left: 22px;
      line-height: 22px; }

.green-arrow {
  padding-top: 20px; }

.img-no {
  height: 65px; }

.button-green {
  text-align: center;
  position: relative;
  top: -35px; }
  .button-green a {
    font-size: 32.77px;
    background-color: #5eae2d;
    display: inline-block;
    border-top: 4px solid #80eb5f;
    border-bottom: 4px solid #3e6c1c;
    color: #fff;
    padding: 7px 67px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    .button-green a:hover {
      background-color: #488523;
      text-decoration: none; }
  .button-green button {
    font-size: 32.77px;
    background-color: #5eae2d;
    display: block;
    width: 100%;
    border-top: 4px solid #80eb5f;
    border-bottom: 4px solid #3e6c1c;
    color: #fff;
    padding: 7px 67px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    .button-green button:hover {
      background-color: #488523;
      text-decoration: none; }
  @media only screen and (max-width: 500px) {
    .button-green a {
      font-size: 19px; }
    .button-green button {
      font-size: 19px; } }

.need-course {
  padding-bottom: 110px; }

.formalize {
  margin-top: 40px; }
  .formalize h3 {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-family: Roboto-Bold; }
  .formalize li {
    display: inline-block;
    vertical-align: top;
    margin: 0px; }
    .formalize li .right-formalize {
      padding-left: 26px;
      margin-right: -25px;
      padding-top: 10px; }
  .formalize ul {
    margin-top: 70px; }

.left-formalize {
  max-width: 534px; }
  .left-formalize .sircle-green-f {
    background-color: #5eae2d;
    margin-top: 10px;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    float: left; }
  .left-formalize p {
    padding-left: 50px;
    line-height: 23px; }
  .left-formalize ul {
    margin-top: 0; }
  .left-formalize li {
    padding-bottom: 17px;
    margin: 0; }

.right-formalize {
  max-width: 361px; }
  .right-formalize .button-green {
    top: auto;
    text-align: left; }
    .right-formalize .button-green a {
      font-size: 20px;
      padding: 3px 44px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border-top: 2px solid #80eb5f;
      border-bottom: 2px solid #3e6c1c; }
  .right-formalize p {
    padding-top: 15px;
    line-height: 24px; }

.telephone {
  padding-top: 15px; }
  .telephone h2 {
    text-align: left;
    font-family: Roboto-Bold;
    font-size: 20px; }
  .telephone p {
    padding-top: 0; }

.payment-shipping {
  text-align: center;
  background-image: url("../img/bg-8.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 40px; }
  .payment-shipping .title-orange {
    padding: 19.5px 58px;
    font-size: 22px; }
  .payment-shipping h3 {
    font-size: 25px;
    color: #fff;
    line-height: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: -0.5px;
    font-family: Roboto-Bold; }
  .payment-shipping li {
    float: left;
    margin: 40px 94px; }
    .payment-shipping li:first-child {
      margin-left: 0; }
    .payment-shipping li:last-child {
      margin-right: 0; }
    .payment-shipping li img {
      float: left; }
    .payment-shipping li p {
      padding-left: 115px;
      font-size: 18px;
      line-height: 23px;
      text-align: left;
      color: #fff;
      padding-top: 10px; }
    .payment-shipping li span {
      font-family: Roboto-Bold; }
  .payment-shipping h4 {
    padding-top: 35px;
    color: #fff;
    line-height: 26px; }
  .payment-shipping b {
    font-family: Roboto-Bold;
    font-size: 20px; }
  @media only screen and (max-width: 923px) {
    .payment-shipping li {
      float: none;
      display: inline-block;
      margin: 30px 15px; }
      .payment-shipping li:first-child {
        margin: 30px 15px; }
      .payment-shipping li:last-child {
        margin: 30px 15px; } }
  @media only screen and (max-width: 450px) {
    .payment-shipping li img {
      float: none; }
    .payment-shipping li p {
      float: none;
      padding-left: 0;
      text-align: center; } }

.op-as {
  padding-top: 9px; }
  .op-as * {
    float: left; }
  .op-as .white-as {
    width: 74.9%;
    background-color: #fff;
    height: 61px;
    text-align: left;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    font-family: Roboto-Bold;
    padding: 22px 0 0 23px; }
    @media only screen and (max-width: 731px) {
      .op-as .white-as {
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px 0; } }
  .op-as .orange-as {
    width: 25.1%;
    background-color: #ffc500;
    height: 61px;
    color: #000;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    padding-top: 11px; }
    @media only screen and (max-width: 731px) {
      .op-as .orange-as {
        width: 100%;
        text-align: center;
        height: auto;
        padding: 15px 0; } }

.forma-for {
  padding: 55px 0 0 0;
  text-align: center; }
  .forma-for h3 {
    font-size: 23px;
    line-height: 23px;
    font-family: Roboto-Bold; }
  .forma-for h2 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 25px; }
  .forma-for .title-slide-reviews {
    text-transform: none;
    margin: 11px 0;
    padding: 16px 27px; }
  @media only screen and (max-width: 900px) {
    .forma-for br {
      display: none; } }

.forms-all {
  max-width: 534px;
  margin: 0 auto;
  text-align: center; }
  .forms-all input[type='text'] {
    width: 100%;
    border: 2px solid #46b105;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    margin-top: 35px;
    color: #000;
    opacity: 1;
    padding: 10px 19px; }
    .forms-all input[type='text']::-webkit-input-placeholder {
      color: #000;
      opacity: 0.5; }
    .forms-all input[type='text']::-moz-placeholder {
      color: #000;
      opacity: 0.5; }
    .forms-all input[type='text']:-moz-placeholder {
      color: #000;
      opacity: 0.5; }
    .forms-all input[type='text']:-ms-input-placeholder {
      color: #000;
      opacity: 0.5; }
  .forms-all .button-green {
    top: auto;
    margin-top: 9px; }
    .forms-all .button-green button {
      padding: 12px 0;
      font-size: 23px; }
  .forms-all p {
    padding-top: 15px;
    line-height: 24px; }
  .forms-all span {
    color: #5eae2d; }
  @media only screen and (max-width: 900px) {
    .forms-all {
      padding: 0 15px; } }

.check {
  margin: 0px 0; }
  .check input {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-color: transparent;
    -webkit-border-radius: none;
    border-radius: none; }
  .check p {
    display: inline-block;
    padding-top: 5px;
    padding-left: 4px; }

.form-fr {
  margin: 25px 0 0 0; }
  .form-fr h3 {
    text-transform: none;
    text-align: center;
    font-size: 20px;
    font-family: Roboto-Bold; }
  .form-fr li {
    text-align: left;
    padding-left: 32px;
    margin-top: 25px;
    font-size: 18px;
    line-height: 21px; }
    .form-fr li p {
      position: relative; }
      .form-fr li p:after {
        position: absolute;
        left: -28px;
        top: 7px;
        content: '';
        background-image: url("../img/c-or.png");
        background-repeat: no-repeat;
        width: 9px;
        height: 9px; }
    .form-fr li .second-wh li {
      margin-top: 0px; }
    .form-fr li .second-wh span {
      display: block;
      padding-left: 5px; }

.for-bottom {
  background-image: url("../img/bg-9.jpg");
  padding-bottom: 47px;
  margin-top: 28px; }
  .for-bottom h3 {
    text-align: left;
    padding-top: 18px; }
  .for-bottom li {
    font-size: 20px;
    margin-bottom: 36px; }

.call-us {
  position: relative;
  top: -54px; }

.call {
  background-color: #fff;
  text-align: center;
  padding: 65px 0 44px 0; }
  .call h3 {
    color: #000;
    font-size: 23px;
    line-height: 23px;
    font-family: Roboto-Bold; }
  @media only screen and (max-width: 810px) {
    .call {
      padding: 65px 15px 20px 15px; } }

.nb-bot {
  max-width: 722px;
  margin: 40px auto; }
  .nb-bot li {
    margin-top: 20px; }

.left-bot-nb {
  float: left;
  width: 41%;
  text-align: left; }
  .left-bot-nb h3 {
    display: inline-block;
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 23px;
    font-family: RobotoRegular; }
  @media only screen and (max-width: 749px) {
    .left-bot-nb {
      float: none;
      width: 100%;
      text-align: center; }
      .left-bot-nb h3 {
        padding-left: 0; } }

.right-bot-nb {
  float: left;
  width: 59%; }
  .right-bot-nb p {
    font-size: 20px;
    line-height: 21px; }
  .right-bot-nb span {
    color: #42af00;
    font-family: Roboto-Bold; }
  @media only screen and (max-width: 749px) {
    .right-bot-nb {
      float: none;
      width: 100%;
      text-align: center;
      padding-top: 5px; } }

.ps {
  margin-top: 32px;
  padding-bottom: 40px; }

.img-life {
  margin: 65px 0 0 0; }
  .img-life ul {
    max-width: 1158px;
    margin: 0 auto; }
  .img-life li {
    float: left;
    text-align: center;
    max-width: 500px; }
    .img-life li img {
      width: 100%; }
    .img-life li:nth-child(2) {
      max-width: 158px;
      width: 100%;
      background-color: #fff;
      min-height: 184px; }
      .img-life li:nth-child(2) p {
        color: #42af00;
        padding-top: 90px; }
    .img-life li p {
      padding-top: 19px;
      text-transform: uppercase;
      color: #000;
      font-size: 20px;
      font-family: Roboto-Bold; }
    .img-life li .button-green {
      top: auto; }
      .img-life li .button-green a {
        font-size: 22.84px;
        line-height: 22.84px;
        margin-top: 19px;
        font-family: Roboto-Bold;
        text-transform: uppercase;
        padding: 9px 33px; }
  @media only screen and (max-width: 1157px) {
    .img-life li {
      float: none;
      display: block;
      text-align: center;
      margin: 0 auto; } }

footer {
  background-color: #5eae2d;
  padding: 41px 0 58px 0;
  margin-bottom: 70px;
  margin-top: 16px;
  color: #fff; }
  footer div[class*='col-md-4']:first-child {
    padding-left: 124px; }
  footer div[class*='col-md-4']:nth-child(2) {
    text-align: center; }
  footer div[class*='col-md-4']:last-child h3 {
    padding-left: 124px; }
  footer h3 {
    font-size: 12px;
    line-height: 12px; }
  footer p {
    font-size: 12px;
    line-height: 15px;
    padding-top: 34px; }
  @media only screen and (max-width: 991px) {
    footer {
      text-align: center; }
      footer div[class*='col-md-4']:first-child {
        padding-left: 15px; }
      footer div[class*='col-md-4']:nth-child(2) {
        text-align: center; }
      footer div[class*='col-md-4']:last-child h3 {
        padding-left: 0px; }
      footer br {
        display: none; }
      footer h3 {
        font-size: 20px;
        line-height: 20px; }
      footer p {
        font-size: 18px;
        line-height: 20px; } }

.white-popup {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0; }

.pixel-perfect {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -883px;
  opacity: 0.3; }
